<% include ./partials/header.ejs %>


<p class="col-md-offset-5 error-msg"><%= error %></p>
<div class="col-md-offset-3">
  <div class="row">
    <div class="col-md-offset-2">
      <h1 class="sign-in-heading">Sign In</h1>
    </div>
    <div class="col-md-offset-2">
      <form action="/login" method="post">
        <div class="col-xs-4">
          <input class="form-control" type="email" name="email" placeholder="email"></br>
          <input class="form-control" type="password" name="password" placeholder="password"></br>
          <input class="login-button btn btn-primary" type="submit" value="Login"></br>
        </div>
      </form>
    </div>
  </div>
</div>
