<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
      <h1 class="vinyl navbar-header pull-left"><a href="/">Vinyl</a></h1>
      <% if (userSess) { %>
        <ul class="navbar-header pull-right">        
          <li class="user-info"><a href="/users/<%=userSess.id%>">Profile</a></li>
          <li class="user-info"><a href="/logout">Logout</a></li>
        <% } else { %>
          <li class="user-info"><a href="/users/signup">Sign Up</a></li>
          <li class="user-info"><a href="/login">Sign In</a></li>
        </ul>
      <% } %>
  </div>
</nav>
