<nav class="navbar navbar-inverse">
  <h1><a href="/">Vinyl</a></h1>
  <% if (userSess) { %>
    <a class="first" href="/logout">Logout</a>
  <% } else { %>
    <div class="container">
      <a class="first" href="/login">Login</a>
      <a class="second" href="/users/signup">Sign Up</a>
    </div>
  <% } %>
</nav>
