<nav class="navbar navbar-inverse">
  <h1><a href="/">Vinyl</a></h1>
  <% if (userSess) { %>
    <a href="/logout">Logout</a>
  <% } else { %>
    <a class="right" href="/login">Login</a>
    <a class="right" href="/users/signup">Sign Up</a>
  <% } %>
</nav>
